/* ==========
font import
=========== */

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Oswald&family=Poppins:wght@500&display=swap');

/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

body{
    padding: 20px;
}
/*===========
     NavBar 
 ============*/
li, a{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: black;
    text-decoration: none;
}
.header-name{
    font-size: 35px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    margin-top: 30px;
}
.nav-link{
    list-style: none;
}
.nav-link li{
    display: inline-block;
    padding: 0px 20px;
}
#icon-search{
    font-size: 20px;
    margin-right: 20px;
}
#icon-shopping{
    font-size: 20px;
}


/*============
 first section
 =========== */

 .first-section{
     display: flex;
 }
 .start-div{
     width: 50%;
     align-items: center;
     margin-left: 150px;
 }
 .start-img{
     width: 50%;
     align-items: center;
     margin-left: 70px;
     margin-bottom: 50px;
 }
 .first-titel{
     font-size: 50px;
 }
 .first-pera{
     font-family: bold;
     font-weight: 300;
     font-size: 19px;
     margin-bottom: 40px;
 }


 /* Img background */
 .first-img{
     background-image: url(/images/Circle\ design.svg);
 }

 .first-img:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.0); /* Safari 3-8 */
    transform: scale(1.2); 
  }


 /* button section */
 .preebook-button{
     height: 50px;
     width: 250px;
     color: white;
     background-color: rgb(226, 14, 120);
     text-align: center;
     border-radius: 20px;
     font-size: 20px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     margin-bottom: 50px;
     
 }


 /* section two */
 .img-ecom1{
    margin-left: 240px;
    align-items: center;
}

 .img-ecom{
     margin-left: 58px;
     align-items: center;
 }
 hr{
     margin-right: 100px;
     margin-left: 150px;
 }



 /* product section */

 .populer-collection{
     font-size: 50px;
     color: rgb(36, 34, 41);
 }

 .populer-collection{
     text-align: center;
     margin-top: 100px;
     margin-bottom: 50px;
 }

 .products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 24px;
    /* align-items: center; */
    /* background-color: brown; */
    margin: 10px 150px;
}

.product{
    margin: 30px;
    background-color: rgba(238, 241, 245, 0.685);
    border: 2px solid rgba(49, 30, 30, 0.171);
    border-radius: 5px;
    /* box-shadow: 5px 0px 2px 5px rgb(238, 236, 236); */
}
/* .product{
    width: 350px;
} */
.product-banner img{
    /* width: 300px;
    height: 300px; */
     align-items: center;
}
.product-img{
    align-items: center;
    padding: 20px;
}

.dolor{
    margin: 0;
    padding: 0;
}
.product-title{
    font-size: 35px;
}
.product-info{
    display: flex;
    align-items: center;
    padding:0 30px;
    margin: 0;
    /* justify-content: space-between; */
}
.product-detail{
    padding: 0 30px;
}

#product-fature{
    margin-left: 30px;
    padding-right: 30px;
}

.fa-star{
    font-size: 12px;
    padding: 0;
    margin: 0;
}

.fa-star.filled{
    color: #FFC014;
}

.fa-star.empty{
    color: #AEAEAE;
} 

.rating{
    margin-left: 15px;
    font-size: 19px;
    font-weight: 700;
}

.see-more{
    text-align: right;
    margin-right: 100px;
    color: rgb(236, 56, 167);
    font-size: 30px;
}



/* footer section */
footer {
   
    justify-content: center;
    width: auto;
    padding: 10px 0;
    background-color: hsl(245, 64%, 8%);
    color: #fff;
    text-align: center;
}
#footyeryear{
    color: red;
}


.social-icon{
    display: grid;
    justify-content: center;
    display: inline-block;
    font-size: 30px;
    
}
#icon{
    margin: 0 10px;
    margin-bottom: 30px;
}