/* ==========
font import
=========== */

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Oswald&family=Poppins:wght@500&display=swap');

/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

body{
    padding: 20px;
}
/*===========
     NavBar 
 ============*/
li, a{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: black;
    text-decoration: none;
}
.header-name{
    font-size: 35px;
    font-weight: bold;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    margin-top: 5px;
}
.nav-link{
    list-style: none;
}
.nav-link li{
    display: inline-block;
    padding: 0px 20px;
}
#icon-search{
    font-size: 20px;
    margin-right: 20px;
}
#icon-shopping{
    font-size: 20px;
}


/*============
 first section
 =========== */

 .first-section{
     display: flex;
 }
 .start-div{
     width: 50%;
     align-items: center;
     margin-left: 150px;
 }
 .start-img{
     width: 50%;
     align-items: center;
     margin-left: 70px;
     margin-bottom: 50px;
 }
 .first-titel{
     font-size: 50px;
     font-weight: bolder;
 }
 .first-pera{
    font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
     font-size: 19px;
     margin-bottom: 40px;
     color: rgb(71, 63, 63);
 }


 /* Img background */
 .first-img{
     background-image: url(/images/Circle\ design.svg);
 }

 .first-img:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.0); /* Safari 3-8 */
    transform: scale(1.2); 
  }


 /* button section */
 .preebook-button{
     height: 50px;
     width: 250px;
     color: white;
     background-color: rgb(226, 14, 120);
     text-align: center;
     border-radius: 20px;
     font-size: 20px;
     font-family: Arial, Helvetica, sans-serif;
     margin-bottom: 50px;
     
 }


 /* section two */
 .img-ecom1{
    margin-left: 240px;
    align-items: center;
}

 .img-ecom{
     margin-left: 58px;
     align-items: center;
 }
 hr{
     margin-right: 100px;
     margin-left: 150px;
 }



 /* product section */

 .populer-collection{
     font-size: 50px;
     color: rgb(36, 34, 41);
 }

 .populer-collection{
     text-align: center;
     margin-top: 100px;
     margin-bottom: 50px;
 }

 .products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 24px;
    /* align-items: center; */
    /* background-color: brown; */
    margin: 10px 150px;
}

.product{
    margin: 30px;
    background-color: rgba(255, 255, 255, 0.685);
    border: 2px solid rgba(49, 30, 30, 0.171);
    border-radius: 5px;
    /* box-shadow: 5px 0px 2px 5px rgb(238, 236, 236); */
}
/* .product{
    width: 350px;
} */
.product-banner img{
    /* width: 300px;
    height: 300px; */
     align-items: center;
}
.product-img{
    align-items: center;
    padding: 20px;
}

.dolor{
    margin: 0%;
    padding: 0%;
}
.product-title{
    font-size: 35px;
    margin: 0%;
    padding: 0%;
    margin-bottom: 8px;
}
.product-info{
    display: flex;
    align-items: center;
    padding:0px 0px 0px 30px;
    margin: 0;
    margin-top: 0%;
    /* justify-content: space-between; */
}

.product-detail{
    padding: 0 30px;
}

#product-fature{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 30px 0px 30px;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(73, 65, 65);
}

.fa-star{
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.fa-star.filled{
    color: #FFC014;
}

.fa-star.empty{
    color: #AEAEAE;
} 

.rating{
    margin-left: 15px;
    font-size: 19px;
    font-weight: 700;
}

.see-more{
    text-align: right;
    margin-right: 137px;
    color: rgb(236, 56, 167);
    font-size: 25px;
}



/* footer section */
footer {
   
    justify-content: center;
    width: auto;
    padding: 10px 0;
    background-color: hsl(245, 64%, 8%);
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

footer p{
    margin:  0px 0px 12px 0px;
}
#footyeryear{
    color: red;
}

.social-icon{
    display: grid;
    justify-content: center;
    display: inline-block;
    font-size: 30px;
}

#icon{
    margin: 0 10px;
    margin-bottom: 30px;
}


/* -------==================
    Media Queries Mobile
======================------*/
/* Mobile Device */
@media only screen and (max-width:688px) {
    .nav-link{
        display: none;
    }
    .header-name{
        width: 100%;
    }
    .first-section{
        padding: 0%;
        flex-direction: column;
    }
    .first-img{
        height: 300px;
        width: 300px;
    }
    .first-titel .first-pera{
        margin: 0%;
        padding: 0%;
    }

    /* .first-img{
        width: 100%;
        grid-template-columns: 1fr;

    } */
    .start-img{
        width: 100%;
        grid-template-columns: 1fr;
        margin: 0%;
        padding: 0%;

    }

    .products{
        /* background-color: #FFC014; */
        grid-template-columns: 1fr;
        margin: 0%;
        padding: 0%;
    }
    .prodact{
        flex-direction: column;
        grid-template-columns: 1fr;
    }

    .first-section{
        margin: 0%;
        padding: 0%;
    }

    .sign-up{
        display: none;
    }
}
/* Tablet Device */

@media only screen and (min-width:688px) and (max-width:992px) {
    .nav-link{
        display: inline-block;
    }

    .first-img{
        height: 300px;
        width: 300px;
    }
    .products{
        grid-template-columns: repeat(2, 1fr);
        margin: 0%;
        padding: 0%;
    }

}


/* ------------Extra----------------- */
/* ===================================
    Full-width input fields 
    ==================================*/
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* ==============================
     Set a style for all buttons 
   =================================*/
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }
  
  /* ---------------------------------
  Extra styles for the cancel button 
  ------------------------------------*/
  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }
  
  /*-----------------------------------------------------
  Float cancel and signup buttons and add an equal width
  ------------------------------------------------------- */
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  
  /* ----------------------------------------
         Add padding to container elements 
  --------------------------------------------*/
  .container {
    padding: 80px;
  }
  
  /*==================================
            Clear floats
    ===================================*/
  .button-last::after {
    content: "";
    clear: both;
    display: table;
  }
  .button-last{
      font-size: 40px;
      margin-bottom: 10px;
       
  }
  .required{
      color: red;
      font-weight: 20px;
      font-size: 25px;
  }
  .sign-up{
      padding: 0px 137px 20px 180px;
      background-color: rgb(254, 255, 252);
      font-family: Arial, Helvetica, sans-serif;
      color: rgb(29, 27, 27);
  }
.signup-head{
    text-align: center;
      font-size: 40px;
      margin: 0%;
      padding: 0%;
}
  .signup{
      text-align: center;
      font-size: 30px;
      font-family: 'Be Vietnam Pro', sans-serif;
      margin-bottom: 2px;
  }
  .drow-hr{
      color: rgba(61, 94, 61, 0.61);
      background-color: rgb(48, 93, 129);
      margin-left: 90px;
      margin-top: 0%;
  }
  .agrement{
      font-size: 20px;
      font-weight: bold;
  }
  
  /* Change styles for cancel button and signup */
  @media screen and (min-width: 688px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
    

}